<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title king_ultron99
        script(type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js")
    body
        
        .done(id="done"): p Copied!

        //navbar
        navbar(class="navbar" id="navbar")
            .logo(onclick="document.getElementById('intro').scrollIntoView({behavior: 'smooth'})")
                img(class="nav-pfp" src=user.avatar_url)
            button(class="menu-toggler")
                span(class="hamburger-line")
                span(class="hamburger-line")
                span(class="hamburger-line")
            .navbar-menu(id="navbar-menu")
                a(class="link" onclick="hidesidebar()" href="#") Home
                a(class="link" onclick="hidesidebar()" href="#about") About
                a(class="link" onclick="hidesidebar()" href="#repos") Repos
                a(class="link" onclick="hidesidebar()" href="#contact") Contact
                a(class="link"): div(data-netlify-identity-button)
        
        // intro landing
        .intro(id="intro")
            h1 Hello! I'm 
                span(class="meee")
            .button(onclick="document.getElementById('about').scrollIntoView({behavior: 'smooth'})") About me
        // About
        section(id="about" class="about")
            h1(class="title") About me
            .about-content
                img(class="profile" src=user.avatar_url)
                .about-text
                    h2 I'm king_ultron99
                    p.
                        I am a self-taught full stack web developer, UI/UX designer and 3D Artist.
                    .socials
                        i(id="copy" class="fab fa-discord abt-social discord-tag-hover")
                            span(class="social-txt discord-tag")  king_ultron99
                        a(href=user.html_url class="social-link"): i(class="fab fa-github abt-social"): span(class="social-txt")  kingultron99
    


        div(class="wave-container")
            svg(class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                defs
                    path(id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g(class="parallax")
                    use(xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7")
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#fff")

        // Repos
        section(id="repos" class="dark")
            h1(class="title") My Repos

            .container
                each repo in repos
                    a(href=repo.html_url)
                        .repo
                            .go-corner
                                .go-arrow →
                            h1= repo.name
                            p= repo.description      

        

        button(id="goTop" onclick="goTop()" class="goTop fas fa-arrow-up")

        script.
                window.onscroll = function() {myFunction()};

                function myFunction() {
                if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                    document.getElementById("navbar").className = "navbar navbar-move";
                    document.getElementById("goTop").className  = "goTop fas fa-arrow-up active";
                } else {
                    document.getElementById("navbar").className = "navbar";
                    document.getElementById("goTop").className  = "goTop fas fa-arrow-up";
                }
                }
                
                //---------------------------------------------------------------------------------//

                const span = document.getElementById('copy');

                span.onclick = function() {
                document.execCommand("copy");
                document.getElementById("done").classList.add("copied");
                setTimeout(() => {
                    document.getElementById("done").classList.remove("copied");
                }, 1000);
                }

                span.addEventListener("copy", function(event) {
                    event.preventDefault();
                    if (event.clipboardData) {
                        event.clipboardData.setData("text/plain", "king_ultron99#0647");
                        console.log(event.clipboardData.getData("text"))
                    }
                });

                //---------------------------------------------------------------------------------//
                
                let intro = document.querySelector('.intro')

                function isMobile () {
                    if( navigator.userAgent.match(/iphone/i) ||
                    navigator.userAgent.match(/ipad/i) ||
                    navigator.userAgent.match(/android/i) ||
                    navigator.userAgent.match(/blackberry/i) ||
                    navigator.userAgent.match(/android/i)
                    ) {
                        return true;
                    }
                    return false;
                }

                if( isMobile() === true) {
                    intro.removeAttribute("id");
                } else {
                    intro.setAttribute("id", "intro");
                }

                //---------------------------------------------------------------------------------//

                function goTop () {
                    window.scrollTo(0,0);
                }

                let menuToggle  = document.querySelector('.menu-toggler');

                menuToggle.addEventListener("click", function() {
                    menuToggle.classList.toggle("active");
                    document.getElementById("navbar-menu").classList.toggle("active");
                })

                function hidesidebar () {
                    menuToggle.classList.remove("active");
                    document.getElementById("navbar-menu").classList.remove("active");
                } 


        script(src="./js/three.r119.min.js")
        script(src="./js/vanta.fog.min.js")
        script.
                VANTA.FOG({
                    el: "#intro",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 200.00,
                    minWidth: 200.00,
                    highlightColor: 0x02a646d,
                    midtoneColor: 0x3e817d,
                    lowlightColor: 0x2a646d,
                    baseColor: 0xffffff,
                    blurFactor: 0.50,
                    speed: 0.30,
                    zoom: 0.30
                })
        
        script(src="https://kit.fontawesome.com/fa5e751302.js" crossorigin="anonymous")

        // Thats all folks!