<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title king_ultron99
    body

        //navbar
        navbar(class="navbar" id="navbar")
            .logo(onclick="document.getElementById('intro').scrollIntoView({behavior: 'smooth'})")
                h3 King_ultron99
            .nav-item(onclick="document.getElementById('intro').scrollIntoView({behavior: 'smooth'})") Home
            .nav-item(onclick="document.getElementById('about').scrollIntoView({behavior: 'smooth'})") About
            .nav-item(onclick="document.getElementById('repos').scrollIntoView({behavior: 'smooth'})") Repos
            .nav-item(onclick="document.getElementById('contact').scrollIntoView({behavior: 'smooth'})") contact
        
        // intro landing
        .intro(id="intro")
            h1 Hello! I'm 
                span(class="meee") King_ultron99
            .button(onclick="document.getElementById('about').scrollIntoView({behavior: 'smooth'})") About me
        
        // About
        section(id="about" class="about")
            h1(class="title") About me
            .about-content
                img(class="profile" src=user.avatar_url)
                .about-text
                    h2 I'm king_ultron99
                    p.
                        I am a self-taught full stack web developer.
                    .socials
                        i(class="fab fa-discord abt-social"): span(class="social-txt")  king_ultron99#0647
                        a(href=user.html_url class="social-link"): i(class="fab fa-github abt-social"): span(class="social-txt")  kingultron99
                        a(href="https://www.instagram.com/king_ultron99/" class="social-link"): i(class="fab fa-instagram abt-social"): span(class="social-txt")  king_ultron99
        // Repos
        section(id="repos")
            h1(class="title") My Repos

            .container
                each repo in repos
                    .object
                        h1: a(class="underline-hover" href=repo.html_url)= repo.name
                        p= repo.description
                        .users
                            a(href=repo.owner.html_url)
                                img(class="avatar" src=repo.owner.avatar_url alt=repo.owner.login)
        section

        script.
                window.onscroll = function() {myFunction()};

                function myFunction() {
                if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                    document.getElementById("navbar").className = "navbar navbar-move";
                } else {
                    document.getElementById("navbar").className = "navbar";
                }
                }

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://kit.fontawesome.com/fa5e751302.js" crossorigin="anonymous")